n8n/AI REST APIs Testing Workflow.json
{
  "name": "AI REST APIs Testing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-rest-apis-testing-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1344,
        384
      ],
      "id": "b913230d-5e28-4c2c-8939-37406e002ee4",
      "name": "Webhook",
      "webhookId": "91146eee-cded-4b0b-8fbd-c1cc989e173a"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.id = uuid.v4();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        384
      ],
      "id": "2ee72d42-105c-44b9-b6fa-321b71eb284e",
      "name": "UUID"
    },
    {
      "parameters": {
        "sendTo": "hoainhaannguyen@gmail.com",
        "subject": "=REST APIs Testing {{ $now.format('dd/LL/yyyy h:mm:ss a') }}",
        "message": "={{ $json.data }}",
        "options": {
          "appendAttribution": true,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=summary,test-results,recommendations"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        384
      ],
      "id": "4c7e8672-b84c-48fd-9952-bc9d1617153c",
      "name": "Send a message",
      "webhookId": "733b6fc0-fdfa-411c-8a70-fff2938bfe7a",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "tlS2tP7X2B1KvXCg",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "summary",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        48
      ],
      "id": "2d261b87-1600-4c6c-83e6-7353969cab2f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ],
      "id": "66dca722-9b0d-487b-ad83-721dddb9a8c8",
      "name": "Markdown"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "05432cd9-d2b3-4e44-8212-28405f17eba4",
          "mode": "list",
          "cachedResultName": "RnD Discussion"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "General",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3AKhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1%40thread.tacv2/RnD%20Discussion?groupId=05432cd9-d2b3-4e44-8212-28405f17eba4&tenantId=bfe53760-c13f-4271-9e14-60cf6e1727b8&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "629ef820-56da-4d6f-91ed-a02be25997fc",
      "name": "Create message",
      "webhookId": "28167806-20d1-4227-ae31-d66352f18997",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "x9gWBs65kuWF62zf",
          "name": "Microsoft Teams account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "command": "=codex exec \"Access the file prompt.md on disk, interpret its contents, and carry out the specified instructions.\" --sandbox=danger-full-access"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -896,
        384
      ],
      "id": "b3350f4b-9eee-4059-a053-c0cbca8cfc74",
      "name": "Codex Prompt"
    },
    {
      "parameters": {
        "fileSelector": "./reports/summary.md",
        "options": {
          "dataPropertyName": "summary"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ],
      "id": "fdb90e2f-fda8-4fa2-829c-69f280b6f0f3",
      "name": "summary.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/test-results.md",
        "options": {
          "dataPropertyName": "test-results"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -672,
        384
      ],
      "id": "c4bcc04e-9bf4-4d93-9040-6b288d18b246",
      "name": "test-results.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/recommendations.md",
        "options": {
          "dataPropertyName": "recommendations"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -448,
        552
      ],
      "id": "5c9a8aec-8ccb-439b-8f7a-8e7814e8d162",
      "name": "recommendations.md"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        336
      ],
      "id": "08a6e72a-f7b4-41a5-b4e6-12f4e6b751e6",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        432
      ],
      "id": "cc122adb-c62f-44a2-a536-3f93178eef5a",
      "name": "Merge 1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        384
      ],
      "id": "cb3735c2-6fae-4283-857a-b85825516e02",
      "name": "Merge 2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID": {
      "main": [
        [
          {
            "node": "Codex Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex Prompt": {
      "main": [
        [
          {
            "node": "summary.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "test-results.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "recommendations.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary.md": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test-results.md": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "recommendations.md": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d784bdd-5c15-46d8-ac48-1afcbe635f50",
  "meta": {
    "instanceId": "d0a98d1883d50ab1fb11f1c2089250d1d7492821be2ab8133be1cc4d824c5a45"
  },
  "id": "E0f5cnzVIdBg7CwD",
  "tags": []
}