n8n/AI REST APIs Testing Workflow.json
{
  "name": "AI REST APIs Testing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-rest-apis-testing-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        648
      ],
      "id": "7526f780-ce26-46cf-ba2f-7e73bfbe5179",
      "name": "Webhook",
      "webhookId": "91146eee-cded-4b0b-8fbd-c1cc989e173a"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.id = uuid.v4();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        648
      ],
      "id": "2d9d5daf-560f-4abf-93b9-f61434405af6",
      "name": "UUID"
    },
    {
      "parameters": {
        "fileSelector": "./reports/TEST_EXECUTION_SUMMARY.md",
        "options": {
          "dataPropertyName": "text_execution_summary"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        272,
        192
      ],
      "id": "fb85ff97-3b0d-4730-b470-aaf48369e18c",
      "name": "TEST_EXECUTION_SUMMARY.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/TEST_COVERAGE_MATRIX.md",
        "options": {
          "dataPropertyName": "test_coverage_matrix"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        272,
        480
      ],
      "id": "1d802f51-13c8-447b-9ebb-c8d2b45eaa0d",
      "name": "TEST_COVERAGE_MATRIX.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/PERFORMANCE_REPORT.md",
        "options": {
          "dataPropertyName": "performance_report"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        496,
        648
      ],
      "id": "52060798-7201-4771-b004-8d584fc3d1d5",
      "name": "PERFORMANCE_REPORT.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/DETAILED_TEST_RESULTS.md",
        "options": {
          "dataPropertyName": "detailed_test_results"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        816
      ],
      "id": "17f0ea86-396a-4072-8f9c-8edb776a1fd2",
      "name": "DETAILED_TEST_RESULTS.md"
    },
    {
      "parameters": {
        "fileSelector": "./reports/DEFECTS_LOG.md",
        "options": {
          "dataPropertyName": "defects_log"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        944,
        984
      ],
      "id": "2ac22fce-396a-43fe-87ea-fa3abb5abee2",
      "name": "DEFECTS_LOG.md"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        432
      ],
      "id": "e7be8dc2-cdea-4194-a109-1c15abe0baee",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        528
      ],
      "id": "d2c56e30-906f-4552-b553-4f6428eddfdf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        624
      ],
      "id": "27e0bb99-d4b7-402c-919a-9cd03e994cf4",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        720
      ],
      "id": "4062b612-bde8-4385-b53c-546b3935a379",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        672
      ],
      "id": "dfc25c24-144d-44db-ab98-e433568b323c",
      "name": "Merge4"
    },
    {
      "parameters": {
        "command": "=codex exec \"You are a senior frontend engineer and UI designer. Read the file reports/TEST_EXECUTION_SUMMARY.md, then transform its Markdown content into a single, self-contained, production-ready HTML document with polished, visually appealing styling. Your response must contain ONLY the final HTML (no explanations, no comments, no markdown fences)\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1168,
        144
      ],
      "id": "b3d2fca3-cfb5-4352-8909-1789f573f2fa",
      "name": "Codex Markdown to HTML"
    },
    {
      "parameters": {
        "sendTo": "hoainhaannguyen@gmail.com",
        "subject": "=REST APIs Testing {{ $now.format('dd/LL/yyyy h:mm:ss a') }}",
        "message": "={{ $json.stdout }}",
        "options": {
          "appendAttribution": true,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=text_execution_summary,test_coverage_matrix,performance_report,detailed_test_results,defects_log"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        672
      ],
      "id": "c00344b2-cd6a-4607-a634-40690e0e9524",
      "name": "Send a message",
      "webhookId": "733b6fc0-fdfa-411c-8a70-fff2938bfe7a",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "tlS2tP7X2B1KvXCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "05432cd9-d2b3-4e44-8212-28405f17eba4",
          "mode": "list",
          "cachedResultName": "RnD Discussion"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "General",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3AKhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1%40thread.tacv2/RnD%20Discussion?groupId=05432cd9-d2b3-4e44-8212-28405f17eba4&tenantId=bfe53760-c13f-4271-9e14-60cf6e1727b8&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1392,
        96
      ],
      "id": "2c6d2cfe-4cd1-4762-b4b4-5c1d1f4fbd1b",
      "name": "Create message",
      "webhookId": "28167806-20d1-4227-ae31-d66352f18997",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "x9gWBs65kuWF62zf",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "command": "=codex exec \"Access the file prompt.md on disk, interpret its contents, and carry out the specified instructions.\" --sandbox=danger-full-access"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        48,
        648
      ],
      "id": "ceb2869c-4b72-4d3c-a4d0-1f57333850a5",
      "name": "Codex Newman Command"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID": {
      "main": [
        [
          {
            "node": "Codex Newman Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST_EXECUTION_SUMMARY.md": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Codex Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST_COVERAGE_MATRIX.md": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PERFORMANCE_REPORT.md": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DETAILED_TEST_RESULTS.md": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DEFECTS_LOG.md": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex Markdown to HTML": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex Newman Command": {
      "main": [
        [
          {
            "node": "TEST_EXECUTION_SUMMARY.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "TEST_COVERAGE_MATRIX.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "PERFORMANCE_REPORT.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "DETAILED_TEST_RESULTS.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "DEFECTS_LOG.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc802e46-ca86-4a5d-9eab-4aa4e943b73d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0a98d1883d50ab1fb11f1c2089250d1d7492821be2ab8133be1cc4d824c5a45"
  },
  "id": "77H2QFH7F4gWo3Yf",
  "tags": []
}